# Python Conditions:

1. Take values of the length & breadth of a rectangle from user input and check if it is square or not.

In [3]:
length = float(input("Enter the length of the rectangle: "))
breadth = float(input("Enter the breadth of the rectangle: "))

if length == breadth:
    print("The rectangle is a square.")
else:
    print("The rectangle is not a square.")

Enter the length of the rectangle: 11
Enter the breadth of the rectangle: 12
The rectangle is not a square.

2. Take three integer values from the user and print the greatest among them.

In [71]:
num1 = int(input("Enter first number: "))
num2 = int(input("Enter second number: "))
num3 = int(input("Enter third number: "))

if (num1 >= num2) and (num1 >= num3):
    greatest = num1
elif (num2 >= num1) and (num2 >= num3):
    greatest = num2
else:
    greatest = num3

print("The greatest number is -:", greatest)

Enter first number: 11
Enter second number: 12
Enter third number: 13
The greatest number is -: 13

3. A student will not be allowed to sit in an exam if his/her attendance is less than 75%.

In [66]:
attendance = float(input("Enter the student's attendance percentage: "))

if attendance < 75.0:
    print("The student is not allowed to sit in the exam.")
else:
    print("The student is allowed to sit in the exam.")

Enter the student's attendance percentage: 74.5
The student is not allowed to sit in the exam.

4. A school has the following rules for the grading system: 
Below 25 – F, 25 to 44 – E, 45 to 49 – D, 50 to 59 – C, 60 to 79 – B, 80 to 89 - A, Above 90 - A+
Now, Ask the user to enter marks and print the corresponding grade.

In [65]:
marks = float(input("Enter the marks obtained: "))

if marks < 25:
    print("Grade: F")
elif marks >= 25 and marks < 44:
    print("Grade: E")
elif marks >= 45 and marks < 49:
    print("Grade: D")
elif marks >= 50 and marks < 59:
    print("Grade: C")
elif marks >= 60 and marks < 79:
    print("Grade: B")
elif marks >= 80 and marks < 89:
    print("Grade: A")
else:
    print("Grade: A+")

Enter the marks obtained: 90
Grade: A+

# Loop Problem:

5. Print the following pattern using for and while loop.
1 2 3 4 5 6 7
1 2 3 4 5 6
1 2 3 4 5
1 2 3 4

In [19]:
# Using while Loop
i = 8
while i > 4:
    j = 1
    while j < i:
        print(j, end=" ")
        j += 1
    i -= 1
    print("")

1 2 3 4 5 6 7
1 2 3 4 5 6
1 2 3 4 5
1 2 3 4

In [25]:
# Using for loop
for i in range(8, 4, -1):
    for j in range(1, i):
        print(j, end=" ")
    print("")

1 2 3 4 5 6 7
1 2 3 4 5 6
1 2 3 4 5
1 2 3 4

6. Display numbers from -100 to -10 using for loop.

In [26]:
for i in range(-100, -9):
    print(i)

-100
-99
-98
-97
-96
-95
-94
-93
-92
-91
-90
-89
-88
-87
-86
-85
-84
-83
-82
-81
-80
-79
-78
-77
-76
-75
-74
-73
-72
-71
-70
-69
-68
-67
-66
-65
-64
-63
-62
-61
-60
-59
-58
-57
-56
-55
-54
-53
-52
-51
-50
-49
-48
-47
-46
-45
-44
-43
-42
-41
-40
-39
-38
-37
-36
-35
-34
-33
-32
-31
-30
-29
-28
-27
-26
-25
-24
-23
-22
-21
-20
-19
-18
-17
-16
-15
-14
-13
-12
-11
-10

7. Write a program to sum all prime numbers within a range of 10 to 1000.

In [68]:
def is_prime(n):
    if n <= 1:
        return False
    for i in range(2, int(n**0.5)+1):
        if n % i == 0:
            return False
    return True

sum = 0
for i in range(10, 1000):
    if is_prime(i):
        sum += i

print("Sum of prime numbers between 10 and 1000:", sum)

Sum of prime numbers between 10 and 1000: 76110

8. Find the factorial of an n! (Hint, n=7: 7*6*5*4*3*2*1).

In [33]:
n = 7
factorial = 1

for i in range(1, n+1):
    factorial *= i

print("The factorial of", n, "is", factorial)

The factorial of 7 is 5040

9. Reverse a given integer number 27956240710.

In [42]:
num = 27956240710
print(str(num)[::-1])

01704265972

In [ ]:
10. Print the following pattern using for and while loop.

   # # #
   # # # #
   # # #
   # #

In [67]:
n=4
 
i=3;j=0
while(i<=n):
    while(j<=i-1):
        print("# ",end="")
        j+=1
     # printing next line for each row
    print("\r")
    j=0;i+=1
i=3;j=0
while(i<=n):
    while(j<=i-1):
        print("# ",end="")
        j+=1
     # printing next line for each row
    print("\r")
    j=2;i+=1

# # #
# # # #
# # #
# #

11. Display the Fibonacci series of 15 elements using the for and while loop.

In [57]:
# Using a for loop
def fibonacci_series_for(n):
    fib = [0, 1]
    for i in range(2, n):
        fib.append(fib[i-1] + fib[i-2])
    return fib[:n]

print("Fibonacci series using for loop:", fibonacci_series_for(15))


# Using a while loop
def fibonacci_series_while(n):
    fib = [0, 1]
    i = 2
    while i < n:
        fib.append(fib[i-1] + fib[i-2])
        i += 1
    return fib[:n]

print("Fibonacci series using while loop:", fibonacci_series_while(15))

Fibonacci series using for loop: [0, 1, 1, 2, 3, 5, 8, 13, 21, 34, 55, 89, 144, 233, 377]
Fibonacci series using while loop: [0, 1, 1, 2, 3, 5, 8, 13, 21, 34, 55, 89, 144, 233, 377]

# Python inbuilt Data Structure:

12. Remove 2 and add 3 to the list and replace True with False.
Li = [1,3,5, [2,3], True]
Output = [1,3,5, [3,3], False]

In [15]:
li = [1,3,5,[2,3],True]

In [16]:
li[3].remove(2)

In [17]:
li

[1, 3, 5, [3], True]

In [18]:
li[3].append(3)

In [19]:
li

[1, 3, 5, [3, 3], True]

In [20]:
li[4] = False

In [21]:
print(li)

[1, 3, 5, [3, 3], False]

13. Find the intersection (common) of two sets.
S1 = {1,4,6,8}
S2 = {True, 1,2,10}

In [28]:
S1 = {1, 4, 6, 8}
S2 = {True, 1, 2, 10}

intersection = S1 & S2
print("Intersection of S1 and S2:",intersection)

Intersection of S1 and S2: {True}

14. Input a list from the user then Remove duplicates from a list and create a set and find the max
number. User_input = [1,9,3,4,5,200,54]

In [29]:
user_input = [1, 9, 3, 4, 5, 200, 54]

# Removing duplicates and creating a set
unique_numbers = set(user_input)

# Finding the maximum number
max_number = max(unique_numbers)

print("Unique numbers:", unique_numbers)
print("Maximum number:", max_number)

Unique numbers: {1, 3, 4, 5, 200, 9, 54}
Maximum number: 200

15. Rename the key of a dictionary.
Dict = { "name": "Shakil", "age":27, "city": “Berlin”, "country": "Germany" }
Write a program to rename a key ‘country’ to a ‘region’ in the following dictionary.

In [43]:
Dict = { 
    "name": "Shakil",
    "age":27, 
    "city":"Berlin", 
    "country":"Germany"
}

In [44]:
Dict

{'name': 'Shakil', 'age': 27, 'city': 'Berlin', 'country': 'Germany'}

In [45]:
Dict["region"] = Dict.pop("country")

In [46]:
print("Dictionary with renamed key:", Dict)

Dictionary with renamed key: {'name': 'Shakil', 'age': 27, 'city': 'Berlin', 'region': 'Germany'}

16. Creating a data frame using the list.
num = [10,100,300] (column name is number)

In [34]:
import pandas as pd

In [35]:
num = [10, 100, 300]

In [36]:
df = pd.DataFrame({"number": num})

In [37]:
print(df)

   number
0      10
1     100
2     300

17. Change the value of a key in a given dictionary.
Write a Python program to change ‘age’ to 28 in the following dictionary.
Dict = { "name": "Shakil", "age":27, "city": “Berlin”, "country": "Germany" }

In [47]:
Dict = { 
    "name": "Shakil", 
    "age":27, 
    "city":"Berlin", 
    "country":"Germany" 
}

In [48]:
Dict

{'name': 'Shakil', 'age': 27, 'city': 'Berlin', 'country': 'Germany'}

In [49]:
Dict["age"] = 28

In [50]:
print("Dictionary with updated value:", Dict)

Dictionary with updated value: {'name': 'Shakil', 'age': 28, 'city': 'Berlin', 'country': 'Germany'}